.make_me_box {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: black;
    color: white;
    font-size: 15px;
    text-align: center; 
    vertical-align: middle;
}

.bug_mail .make_me{
   
}
